absl-py==1.4.0
accelerate==0.26.0
botorch==0.10.0
bitsandbytes==0.41.3.post2
datasets==2.16.1
faiss-gpu==1.7.2
filelock==3.12.0
gpytorch==1.11
huggingface-hub==0.25.1
loralib==0.1.2
numpy==1.23.5
peft==0.13.0
python-dateutil==2.8.2
scikit-learn==1.2.2
scipy==1.10.1
torch==2.0.1
torchvision==0.15.2
transformers==4.45.1
tqdm==4.65.0